
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
  }
  
  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; 
}


.top p, .top h2 {
    margin: 0;
    
}
.top h2{
    font-size: 3rem;
    margin-bottom: 0;
}

.weather-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 10px; 
    margin-top: 0; 
}

.temp-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.temp-data h1{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
  color: #ff5722;
  
}

.weather-description p {
    margin: 0;
   
}

  
  .weather-cards-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 16px; 
  }
  
  .weather-description {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .view-more {
    cursor: pointer;
    padding: 10px 20px;
    
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px; 
  }
  